

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    background: white;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem auto;
    width: 100%;

}

h2{
   font-size: 2.3rem;
   color: peru;
}
.menu{

    margin: 1.5rem 0;

}
.menu a{
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0 1.5rem;
    background-color: plum;
    color: white;
    padding: 8px 22px;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    
}

.store-item{
    width: 250px;
    margin-left: 40px;
    padding: 1rem;
}

.store-item img{
    width: 100%;
    display: block;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2) ;
}
